openapi: 3.0.3
info:
  title: Qonto
  version: v2
servers:
  - url: https://thirdparty.qonto.com
    description: Production URL
security:
  - OAuth:
      - organization.read
  - SecretKey: []
tags:
  - name: V2::Beneficiary
  - name: V2::ExternalTransfer
  - name: V2::Attachment
  - name: V2::Label
  - name: V2::Membership
  - name: V2::Organization
  - name: V2::Team
  - name: V2::Transaction
  - name: V2::InternalTransfer
  - name: V2::Request
  - name: V2::SupplierInvoice
  - name: V2::ClientInvoice
  - name: V2::CreditNote
paths:
  /v2/external_transfers/{id}:
    get:
      tags:
        - External Transfers
      summary: Show an external transfer
      description: |
        OAuth scope: `organization.read`

        ---
        Get a single external transfer.

        ---

        ## Attributes details

        ##### Initiator ID
          Identifies the member that initiated the external transfer. For external transfers initiated via the API, it will always be the owner of the OAuth2 token.

        ##### Debit
        - `debit_iban`: Can be any of the organization's bank accounts. IBAN formatted ISO 13616.
        - `debit_amount`: The amount that will be debited from your Qonto account.
        - `debit_amount_cents`: The amount that will be debited from you Qonto account in an integer format.
        - `debit_currency`: Must be EUR. ISO 4217 formatted.

        ##### Credit
        - `credit_amount`: The amount that the beneficiary will receive.
        - `credit_amount_cents`: The amount that the beneficiary will receive in an integer format.
        - `credit_currency`: Equals debit currency if issued in the SEPA network (only supported currencies). ISO 4217 format. Allowed value for international transfers: AUD, CAD, CHF, CNY, CZK, DKK, GBP, HKD, HRK, HUF, ILS, JPY, NOK, NZD, PLN, RON, SEK, USD

        ##### FX rate
        - `rate_applied`: Foreign exchange rate applied to your transaction, formatted with 4 digits after comma. Ex: 1,1082

        #### Timestamps

        Each external transfer contains three timestamps:

        * `created_at`, UTC, the time at which the external transfer was first recorded.
        * `processed_at`, UTC, when the external transfer has been started to be processed by Qonto.
        * `completed_at`, UTC, when the external transfer is in its final state, either settled or declined.
        * `scheduled_date`, YYYY-MM-DD, indicates when the external transfer was scheduled to be sent by Qonto.

        ##### Status
        `status` can contain the following values

        * `pending`: External transfer is created and has not been processed yet. If transfer is not processed within next minute, it means either execution date may not been reached yet or we are running some compliance checks on this transfer.
        * `processing`: External transfer processing means account balance is debited and a transaction has been created. Processing status can last up to multiple hours until transfer is sent in the network to the beneficiary.
        * `canceled`: When the external transfer is canceled by a user in the interface. This is a permanent status.
        * `declined`: When the external transfer processing fails for various reasons. This is a permanent status.
        * `settled`: When the external transfer is sent to the network, transfer is settled. This is a permanent status.
      operationId: get_external_transfer
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: 7b7a5ed6-3903-4782-889d-b4f64bd7bef9
      responses:
        '200':
          description: returns an external transfer
          content:
            application/json:
              schema:
                required:
                  - external_transfer
                type: object
                properties:
                  external_transfer:
                    $ref: '#/components/schemas/ExternalTransfer'
        '404':
          description: returns a not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            parameter:
                              type: string
              example:
                errors:
                  - code: not_found
                    detail: External transfer not found
                    source:
                      parameter: id
  /v2/external_transfers:
    get:
      tags:
        - External Transfers
      summary: List external transfers
      description: |
        OAuth scope: `organization.read`

        ---
        Retrieve a list of external transfers.

        ---

        ## Attributes details

        ##### Initiator ID
          Identifies the member that initiated the external transfer. For external transfers initiated via the API, it will always be the owner of the OAuth2 token.

        ##### Debit
        - `debit_iban`: Can be any of the organization's bank accounts. IBAN formatted ISO 13616.
        - `debit_amount`: The amount that will be debited from your Qonto account.
        - `debit_amount_cents`: The amount that will be debited from you Qonto account in an integer format.
        - `debit_currency`: Must be EUR. ISO 4217 formatted.

        ##### Credit
        - `credit_amount`: The amount that the beneficiary will receive.
        - `credit_amount_cents`: The amount that the beneficiary will receive in an integer format.
        - `credit_currency`: Equals debit currency if issued in the SEPA network (only supported currencies). ISO 4217 format. Allowed value for international transfers: AUD, CAD, CHF, CNY, CZK, DKK, GBP, HKD, HRK, HUF, ILS, JPY, NOK, NZD, PLN, RON, SEK, USD

        ##### FX rate
        - `rate_applied`: Foreign exchange rate applied to your transaction, formatted with 4 digits after comma. Ex: 1,1082

        #### Timestamps

        Each external transfer contains three timestamps:

        * `created_at`, UTC, the time at which the external transfer was first recorded.
        * `processed_at`, UTC, when the external transfer has been started to be processed by Qonto.
        * `completed_at`, UTC, when the external transfer is in its final state, either settled or declined.
        * `scheduled_date`, YYYY-MM-DD, indicates when the external transfer was scheduled to be sent by Qonto.

        ##### Status
        `status` can contain the following values

        * `pending`: External transfer is created and has not been processed yet. If transfer is not processed within next minute, it means either execution date may not been reached yet or we are running some compliance checks on this transfer.
        * `processing`: External transfer processing means account balance is debited and a transaction has been created. Processing status can last up to multiple hours until transfer is sent in the network to the beneficiary.
        * `canceled`: When the external transfer is canceled by a user in the interface. This is a permanent status.
        * `declined`: When the external transfer processing fails for various reasons. This is a permanent status.
        * `settled`: When the external transfer is sent to the network, transfer is settled. This is a permanent status.

        ## Filters

        #### `status`
        External transfers can be filtered by status. The `status` query parameter accepts an array of statuses as value. The possible values are: `pending`, `processing`, `canceled`, `declined` and `settled`.

        For example, if you want to retrieve several External Transfers statuses, you can use the following filter: `status[]=processing&status[]=declined&status[]=settled`

        #### `beneficiary_ids`
        Allows filtering on a list of beneficiary IDs


        #### `updated_at` / `scheduled_date`
        External transfers can be filtered according to both `updated_at` and `scheduled_date` fields.
        This is particularly useful to retrieve only the latest external transfers in your application.
        Two filters are available :

        - **updated_at**
          - `updated_at_from`: Minimum value (e.g: `2019-01-10T11:47:53.123Z`)
          - `updated_at_to`: Maximum value
        - **scheduled_date**
          - `scheduled_date_from`: Minimum value
          - `scheduled_date_to`: Maximum value

        **Do note**:

        - *You can use one or the other `updated_at` filter (same for `scheduled_date`), or use them in combination if you want external transfers updated within a specific timeframe.*
        - *`updated_at` / `scheduled_date` filters should have a valid date time format (**ISO 8601** for instance)*

        ## Sorting

        External transfers can be sorted by a specific field and order. The `sort_by` query parameter accepts a string defining these two items with the `field:order` format.

        #### Field

        - `scheduled_date` and `updated_at` values are available.

        #### Order

        - Two values are available : `asc` (Ascending) / `desc` (Descending)
        - By default the order used to sort external transfers is `desc`

        **Do note**: You can use a combination of field and order to define how to sort external transfers:
        - Only field (e.g `updated_at`, order will have default value `desc`)
        - Only order (e.g `:asc`, field will have default value `updated_at`)
        - Both (e.g `updated_at:asc`)
      operationId: list_external_transfers
      parameters:
        - name: status
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              example: pending
              default: pending
              enum:
                - pending
                - processing
                - canceled
                - declined
                - settled
        - name: updated_at_from
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '2019-01-10T11:47:53.123Z'
        - name: updated_at_to
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '2019-01-10T11:47:53.123Z'
        - name: scheduled_date_from
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '2019-01-10'
        - name: scheduled_date_to
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '2019-01-10'
        - name: beneficiary_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: lists external transfers
          content:
            application/json:
              schema:
                type: object
                properties:
                  external_transfers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExternalTransfer'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '422':
          description: Returns errors
          content:
            application/json:
              schema:
                required:
                  - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                        - code
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
              examples:
                when updated_at is invalid:
                  value:
                    errors:
                      - code: invalid
                        detail: updated_at_from is not a valid date
                        source:
                          properties:
                            pointer: /external_transfer/updated_at_from
    post:
      tags:
        - External Transfers
      summary: Create an external transfer with trusted beneficiary
      description: |
        OAuth scope: `payment.write`

        ---
        Automated creation of an external transfer with no user interaction involved once the beneficiary is trusted.

        ---
        This endpoint allows you to execute transfers for a given beneficiary. The benefiary must be trusted for the transfer to be created. You can find out more how to trust a beneficiary in [our documentation](https://api-doc.qonto.com/docs/business-api/b3A6MjMyNzk4NTc-trust-a-list-of-beneficiaries).

        The API supports idempotency for safely retrying requests without accidentally performing the same operation twice. The idempotency key must be a unique string. We recommend using a UUID.

        ## Request parameter details

        #### `X-Qonto-Idempotency-Key` header

        This is a unique string (we advise to use a `uuid`) that identifies a transfer. This is used by Qonto to prevent "double spending" by accidentaly replaying the same API call.

        ##### Amount and Currency
        * The `amount` corresponds to the amount of the transaction in the `currency` of the bank account. Amounts must be https://www.w3.org/TR/payment-request/#dfn-valid-decimal-monetary-value
        * The `currency` should be EUR.

        ##### Reference
        * Transfer reference that can be used to enter transfer details to further describe the transfer
        * Maximum `reference` length is `99` characters

        ##### Debit iban
        * `debit_iban`: IBAN of account to debit

        ##### Attachments
        You can link up to 5 attachments per transfer by passing the `attachment_ids` parameter. You can upload your attachments using our [POST /v2/attachments](https://qonto-next.stoplight.io/docs/business-api/branches/create-attachments/b3A6MzU2NjMxMzU-upload-attachment) endpoint. **Note: For SEPA transfers above 30,000 EUR at least one attachment is required**
      operationId: create_external_transfer
      parameters:
        - name: X-Qonto-Idempotency-Key
          in: header
          description: This parameter is required. The API supports idempotency for safely retrying requests without accidentally performing the same operation twice. The idempotency key must be a unique string. We recommend using a UUID.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - external_transfer
              type: object
              properties:
                external_transfer:
                  required:
                    - amount
                    - beneficiary_id
                    - currency
                    - debit_iban
                    - reference
                  type: object
                  properties:
                    beneficiary_id:
                      type: string
                      format: uuid
                    debit_iban:
                      type: string
                    reference:
                      type: string
                    note:
                      type: string
                    currency:
                      type: string
                      description: ISO 4217
                    scheduled_date:
                      type: string
                      example: '2021-07-12'
                    amount:
                      type: string
                    attachment_ids:
                      type: array
                      items:
                        type: string
                        format: uuid
      responses:
        '200':
          description: returns an external transfer
          content:
            application/json:
              schema:
                required:
                  - external_transfer
                type: object
                properties:
                  external_transfer:
                    $ref: '#/components/schemas/ExternalTransfer'
        '422':
          description: Returns errors
          content:
            application/json:
              schema:
                required:
                  - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                        - code
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
              examples:
                when beneficiary is not trusted:
                  value:
                    errors:
                      - code: untrusted_beneficiary
                        detail: External transfers can only be initiated to trusted beneficiaries
                        source:
                          properties:
                            pointer: /external_transfer/beneficiary_id
                when debit_iban cannot be found:
                  value:
                    errors:
                      - code: not_found
                        detail: Bank account was not found
                        source:
                          properties:
                            pointer: /external_transfer/debit_iban
                when reference is missing:
                  value:
                    errors:
                      - code: missing_key
                        detail: reference is missing
                        source:
                          pointer: /external_transfer/reference
                when amount is missing:
                  value:
                    errors:
                      - code: missing_key
                        detail: amount is missing
                        source:
                          pointer: /external_transfer/amount
                when currency is missing:
                  value:
                    errors:
                      - code: missing_key
                        detail: currency is missing
                        source:
                          pointer: /external_transfer/currency
                when the iban is not in SEPA:
                  value:
                    errors:
                      - code: iban_not_sepa
                        detail: Beneficiary is not in SEPA
                        source:
                          pointer: /external_transfer/beneficiary_id
                when there are not enough funds in the account:
                  value:
                    errors:
                      - code: insufficient_funds
                        detail: The account has insufficient funds
                        source:
                          pointer: /external_transfer/debit_iban
                when attachment id cannot be found:
                  value:
                    errors:
                      - code: not_found
                        detail: Attachment not found id=6cc7f2dd-ea0d-4cc2-ba30-f3e1ce0a8eb4
                        source:
                          pointer: /external_transfer/attachment_ids/1
                when attachment_ids exceeds max limit:
                  value:
                    errors:
                      - code: above_max_size
                        detail: attachment_ids cannot be greater than 5
                        source:
                          pointer: /external_transfer/attachment_ids
      security:
        - OAuth:
            - payment.write
  /v2/external_transfers/checkout:
    post:
      tags:
        - External Transfers
      summary: Create external transfers with beneficiary data
      description: |
        OAuth scope: `payment.write`

        ---

        **Accessible only using Strong Customer Authentication**. More details in [our documentation](https://api-doc.qonto.com/docs/business-api/ZG9jOjI5MDg3NzA4-strong-customer-authentication)

        ---

        **Solo basic plans**

        - Create a single transfer with creditor data.
        - **Solo basic** plans are not allowed to do bulk transfers. If a bulk transfer is attempted, it will fail and an error will be returned.

        **Rest of plans**

        Create a maximum of 400 external transfers with creditor data.
        This API requires user interaction both for creation and approval of the external transfers. If you are interested in machine-to-machine communication without **Strong Customer Authentication**, check our [external transfer with trusted beneficiaries](https://api-doc.qonto.com/docs/business-api/47280509cae8c-create-an-external-transfer) endpoint.

        ---

        The API supports idempotency for safely retrying requests without accidentally performing the same operation twice. The idempotency key must be a unique string. We recommend using a UUID.

        When there is a `422` error, the easiest way to identify the invalid external transfer in the list, look at the `errors[x].source.pointer`. The structure of the pointer will be the root key which will always be `external_transfers`, followed by the index of the ID in the list. For example, `/external_transfers/1/amount` indicates that the second entry in the external transfers array is unprocessable due to its amount.

        ## Max number of transfers : 400

        ## Attributes details

        ##### Initiator ID
          Identifies the member that initiated the external transfer. For checkouts initiated via the API, it will always be the owner of the OAuth2 token.

        ##### Debit
        - `debit_iban`: Can be any of the organization's bank accounts. IBAN formatted ISO 13616.
        - `debit_amount`: The amount that will be debited from your Qonto account.
        - `debit_amount_cents`: The amount that will be debited from you Qonto account in an integer format.
        - `debit_currency`: Must be EUR. ISO 4217 formatted.

        ##### Credit
        - `credit_amount`: The amount that the creditor will receive.
        - `credit_amount_cents`: The amount that the creditor will receive in an integer format.
        - `credit_currency`: Equals debit currency if issued in the SEPA network (only supported currencies). ISO 4217 format.

        ##### FX rate
        - `rate_applied`: Foreign exchange rate applied to your transaction, formatted with 4 digits after comma. Ex: 1,1082

        #### Timestamps

        Each external transfer contains three timestamps:

        * `created_at`, UTC, the time at which the external transfer was first recorded.
        * `processed_at`, UTC, when the external transfer has been started to be processed by Qonto.
        * `completed_at`, UTC, when the external transfer is in its final state, either settled or declined.
        * `scheduled_date`, YYYY-MM-DD, indicates when the external transfer was scheduled to be sent by Qonto.

        ##### Status
        `status` can contain the following values

        * `pending`: External transfer is created and has not been processed yet. If transfer is not processed within next minute, it means either execution date may not been reached yet or we are running some compliance checks on this transfer.
        * `processing`: External transfer processing means account balance is debited and a transaction has been created. Processing status can last up to multiple hours until transfer is sent in the network to the beneficiary.
        * `canceled`: When the external transfer is canceled by a user in the interface. This is a permanent status.
        * `declined`: When the external transfer processing fails for various reasons. This is a permanent status.
        * `settled`: When the external transfer is sent to the network, transfer is settled. This is a permanent status.

        ## Request parameter details

        ##### Idempotency_key

        This is a unique string (we advise to use a `uuid`) that identifies a transfer. This is used by Qonto to prevent "double spending" by accidentaly replaying the same API call.

        The `idempotency_key` must be the same for all the call sequence used during the SCA flow :

        - For each transfer, The `idempotency_key` is first set on the initial call, which will trigger the SCA flow.
        - The **same** `idempotency_key` **must** be used on the final call that includes the SCA token.

        This is so because the two calls are actually related to the **same transfer**.

        ##### Amount and Currency
        * The `amount` corresponds to the amount of the transaction in the `currency` of the bank account. Amounts must be https://www.w3.org/TR/payment-request/#dfn-valid-decimal-monetary-value
        * The `currency` should be EUR.

        ##### Reference
        * Transfer reference that can be used to enter transfer details to further describe the transfer
        * Maximum `reference` length is `140` characters

        ##### Debit iban
        * `debit_iban`: IBAN of account to debit

        ##### Creditor
        * `credit_iban`: IBAN of account to credit
        * `credit_account_name`: The name of the credit account
        * `credit_account_currency`: Can be either the currency of the `debit_iban` or the currency of the creditor. Allowed values is only `EUR` at the moment.

        ##### Attachments
        You can link up to 5 attachments per transfer by passing the `attachment_ids` parameter. You can upload your attachments using our [POST /v2/attachments](https://qonto-next.stoplight.io/docs/business-api/branches/create-attachments/b3A6MzU2NjMxMzU-upload-attachment) endpoint. **Note: For SEPA transfers above 30,000 EUR at least one attachment is required**
      operationId: external_transfers_checkout
      requestBody:
        content:
          application/json:
            schema:
              required:
                - debit_iban
                - external_transfers
              type: object
              properties:
                debit_iban:
                  type: string
                external_transfers:
                  type: array
                  items:
                    required:
                      - amount
                      - credit_account_currency
                      - credit_account_name
                      - credit_iban
                      - currency
                      - reference
                    type: object
                    properties:
                      credit_iban:
                        type: string
                      credit_account_name:
                        type: string
                      credit_account_currency:
                        type: string
                        description: ISO 4217
                      reference:
                        type: string
                      note:
                        type: string
                      currency:
                        type: string
                        description: ISO 4217
                      scheduled_date:
                        type: string
                        example: '2021-07-12'
                      amount:
                        type: string
                      idempotency_key:
                        type: string
                        format: uuid
                      attachment_ids:
                        type: array
                        items:
                          type: string
                          format: uuid
      responses:
        '200':
          description: returns an array of external transfers
          content:
            application/json:
              schema:
                required:
                  - errors
                  - external_transfers
                type: object
                properties:
                  external_transfers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExternalTransfer'
                  errors:
                    type: array
                    items:
                      required:
                        - code
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
              examples:
                only successes:
                  value:
                    external_transfers:
                      - id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        slug: my-slug
                        debit_iban: string
                        debit_amount: '12.55'
                        debit_amount_cents: '1255'
                        debit_currency: EUR
                        initiator_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        beneficiary_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        credit_amount: '12.55'
                        credit_amount_cents: '1255'
                        credit_currency: EUR
                        rate_applied: null
                        payment_purpose: goods
                        reference: my-reference
                        note: Some note
                        declined_reason: null
                        status: pending
                        scheduled_date: '2021-07-12'
                        created_at: '2021-01-27T22:05:07.000Z'
                        completed_at: '2021-01-27T22:05:07.000Z'
                        processed_at: '2021-01-27T22:05:07.000Z'
                        transaction_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors: []
                partial successes and errors:
                  value:
                    external_transfers:
                      - id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        slug: my-slug
                        debit_iban: string
                        debit_amount: '12.55'
                        debit_amount_cents: '1255'
                        debit_currency: EUR
                        initiator_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        beneficiary_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        credit_amount: '12.55'
                        credit_amount_cents: '1255'
                        credit_currency: EUR
                        rate_applied: null
                        payment_purpose: goods
                        reference: my-reference
                        note: Some note
                        declined_reason: null
                        status: pending
                        scheduled_date: '2021-07-12'
                        created_at: '2021-01-27T22:05:07.000Z'
                        completed_at: '2021-01-27T22:05:07.000Z'
                        processed_at: '2021-01-27T22:05:07.000Z'
                        transaction_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors:
                      - code: not_found
                        detail: Bank account was not found
                        source:
                          properties:
                            pointer: /external_transfers/1/debit_iban
                only errors:
                  value:
                    external_transfers: []
                    errors:
                      - code: not_found
                        detail: Bank account was not found
                        source:
                          properties:
                            pointer: /external_transfers/1/debit_iban
        '403':
          description: returns a forbidden error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
              example:
                errors:
                  - code: forbidden
                    detail: User does not have sufficient permissions for this action.
                  - code: forbidden
                    detail: The organization’s price plan does not allow to do bulk transfer.
        '422':
          description: Returns errors
          content:
            application/json:
              schema:
                required:
                  - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                        - code
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
              examples:
                when debit_iban cannot be found:
                  value:
                    errors:
                      - code: not_found
                        detail: Bank account was not found
                        source:
                          properties:
                            pointer: /debit_iban
      security:
        - OAuth:
            - payment.write
  /v2/beneficiaries:
    get:
      tags:
        - Beneficiaries
      summary: List beneficiaries
      description: |
        OAuth scope: `organization.read`

        ---
        Retrieve a list of beneficiaries.

        ---

        ## Attributes details

        #### Trusted
        `trusted` indicates whether you can automate transfer through API to the beneficiary or not.

        #### Timestamps
        Each beneficiary contains two timestamps:

        * `created_at`, UTC, the time at which the beneficiary was first recorded.
        * `updated_at`, UTC, the time at which the beneficiary was last updated.

        ##### Status
        `status` can contain the following values

        * `pending`: Beneficiary is created but no Strong Customer Authentication or Transfer has ever been done on this beneficiary.
        * `validated`: Beneficiary is created and at least one Strong Customer Authentication or Transfer has been done to this beneficiary.
        * `declined`: Beneficiary is malformatted and prevent from Qonto to processing transfer.

        ##### Bank account
        Fields in the `bank_account` object will be populated depending upon the type of the account. If the type is:
          - Swift BIC or SEPA: `iban`, `currency` and `bic` will be present.
          - Swift code: `account_number`, `swift_sort_code`, `intermediary_bank_bic` and `currency` will be present.
          - Swift routing number: `account_number`, `routing_number`, `intermediary_bank_bic` and `currency` will be present.

        ## Filters

        #### `status`
        Beneficiaries can be filtered by status. The `status` query parameter accepts an array of statuses as value. The possible values are: `pending`, `validated` and `declined`.

        For example, if you want to retrieve several Beneficiaries statuses, you can use the following filter: `status[]=pending&status[]=validated&status[]=declined`

        #### `trusted`
        Boolean property that can filter beneficiaries by `true` or `false`.

        #### `iban`
        Beneficiaries can be filtered by IBAN. The `iban` query parameter accepts an array of IBANs as value.

        #### `updated_at`
        Beneficiaries can be filtered by the `updated_at` field.
        This is particularly useful to retrieve only the latest beneficiaries in your application.

        - **updated_at**
          - `updated_at_from`: Minimum value (e.g: `2019-01-10T11:47:53.123Z`)
          - `updated_at_to`: Maximum value

        **Do note**:
        - *`updated_at` filters should have a valid date time format (**ISO 8601** for instance)*

        ## Sorting

        Beneficiaries can be sorted by a specific field and order. The `sort_by` query parameter accepts a string defining these two items with the `field:order` format.

        #### Field

        - `updated_at` value is available.

        #### Order

        - Two values are available : `asc` (Ascending) / `desc` (Descending)
        - By default the order used to sort beneficiaries is `desc`

        **Do note**: You can use a combination of field and order to define how to sort beneficiaries:
        - Only field (e.g `updated_at`, order will have default value `desc`)
        - Only order (e.g `:asc`, field will have default value `updated_at`)
        - Both (e.g `updated_at:asc`)
      operationId: list_beneficiaries
      parameters:
        - name: trusted
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: status
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              example: pending
              default: validated
              enum:
                - pending
                - validated
                - declined
        - name: iban
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              example: FR7616798000010000005663951
        - name: updated_at_from
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '2019-01-10T11:47:53.123Z'
        - name: updated_at_to
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '2019-01-10T11:47:53.123Z'
      responses:
        '200':
          description: lists beneficiaries for a given organization
          content:
            application/json:
              schema:
                required:
                  - beneficiaries
                  - meta
                type: object
                properties:
                  beneficiaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Beneficiary'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '422':
          description: Returns errors
          content:
            application/json:
              schema:
                required:
                  - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                        - code
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
              examples:
                when updated_at is invalid:
                  value:
                    errors:
                      - code: invalid
                        detail: updated_at_from is not a valid date
                        source:
                          properties:
                            pointer: /external_transfer/updated_at_from
  /v2/beneficiaries/{id}:
    get:
      tags:
        - Beneficiaries
      summary: Show beneficiary
      description: |
        OAuth scope: `organization.read`

        ---
        Get a single beneficiary.

        ---

        ## Attributes details

        #### Trusted
        `trusted` indicates whether you can automate transfer through API to the beneficiary or not.

        #### Timestamps
        Each beneficiary contains two timestamps:

        * `created_at`, UTC, the time at which the beneficiary was first recorded.
        * `updated_at`, UTC, the time at which the beneficiary was last updated.

        ##### Status
        `status` can contain the following values

        * `pending`: Beneficiary is created but no Strong Customer Authentication or Transfer has ever been done on this beneficiary.
        * `validated`: Beneficiary is created and at least one Strong Customer Authentication or Transfer has been done to this beneficiary.
        * `declined`: Beneficiary is malformatted and prevent from Qonto to processing transfer.

        ##### Bank account
        Fields in the `bank_account` object will be populated depending upon the type of the account. If the type is:
          - Swift BIC or SEPA: `iban`, `currency` and `bic` will be present.
          - Swift code: `account_number`, `swift_sort_code`, `intermediary_bank_bic` and `currency` will be present.
          - Swift routing number: `account_number`, `routing_number`, `intermediary_bank_bic` and `currency` will be present.
      operationId: get_beneficiary
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: e72f6e43-0f27-4415-8781-ad648a89b47f
      responses:
        '200':
          description: returns a beneficiary
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/Beneficiary'
        '404':
          description: returns a not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            parameter:
                              type: string
              example:
                errors:
                  - code: not_found
                    detail: Beneficiary not found
                    source:
                      parameter: id
  /v2/beneficiaries/trust:
    patch:
      tags:
        - Beneficiaries
      summary: Trust a list of beneficiaries
      description: |
        OAuth scope: `payment.write`

        **Accessible only using Strong Customer Authentication**. More details in [our documentation](https://api-doc.qonto.com/docs/business-api/ZG9jOjI5MDg3NzA4-strong-customer-authentication)

        ---
        Trust an array of beneficiaries. Max number of IDs is 400.

        ---

        **Note**: This endpoint can only be used via the OAuth2 authentication. If you are using a login along with a secret key as described on [this page](https://api-doc.qonto.com/docs/business-api/ZG9jOjQ2NDA2-introduction) you will need to switch to the OAuth2 authentication. You can find instructions on how to begin using OAuth2 in [our documentation](https://api-doc.qonto.com/docs/business-api/ZG9jOjg0MjE3NzE-o-auth-introduction).

        When there is a `422` error, the easiest way to identify which ID in the list is the invalid one, look at the `errors[x].source.pointer`. The structure of the pointer will be the root key which will always be `beneficiaries`, followed by the index of the ID in the list. For example, if in the array of IDs `["abc", "xyz"]` the first ID cannot be found the pointer will be `/beneficiaries/0/id`.
      operationId: trust_beneficiaries
      requestBody:
        content:
          application/json:
            schema:
              required:
                - ids
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                    example: 921c60fc-df0e-4289-a864-38a438ad2366
      responses:
        '200':
          description: returns the updated beneficiaries
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Beneficiary'
        '422':
          description: Returns errors
          content:
            application/json:
              schema:
                required:
                  - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                        - code
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
              examples:
                when ids is missing or empty:
                  value:
                    errors:
                      - code: missing_ids
                        detail: IDs are missing
                when ids is more than the max allowed:
                  value:
                    errors:
                      - code: ids_limit_reached
                        detail: Size of ids cannot exceed 400
                when at least one ID in the list is not found:
                  value:
                    errors:
                      - code: not_found
                        detail: Beneficiary not found for id=9ddeab87-2602-4d89-8eac-678407498447
                        source:
                          pointer: /beneficiaries/1/id
      security:
        - OAuth:
            - payment.write
  /v2/beneficiaries/untrust:
    patch:
      tags:
        - Beneficiaries
      summary: Untrust a list of beneficiaries
      description: |
        OAuth scope: `payment.write`

        ---
        Untrust an array of beneficiaries. Max number of IDs is 400.

        ---

        When there is a `422` error, the easiest way to identify which ID in the list is the invalid one, look at the `errors[x].source.pointer`. The structure of the pointer will be the root key which will always be `beneficiaries`, followed by the index of the ID in the list. For example, if in the array of IDs `["abc", "xyz"]` the first ID cannot be found the pointer will be `/beneficiaries/0/id`.
      operationId: untrust_beneficiaries
      requestBody:
        content:
          application/json:
            schema:
              required:
                - ids
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                    example: 921c60fc-df0e-4289-a864-38a438ad2366
      responses:
        '200':
          description: returns the updated beneficiaries
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Beneficiary'
        '422':
          description: Returns errors
          content:
            application/json:
              schema:
                required:
                  - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                        - code
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
              examples:
                when ids is missing or empty:
                  value:
                    errors:
                      - code: missing_ids
                        detail: IDs are missing
                when ids is more than the max allowed:
                  value:
                    errors:
                      - code: ids_limit_reached
                        detail: Size of ids cannot exceed 400
                when at least one ID in the list is not found:
                  value:
                    errors:
                      - code: not_found
                        detail: Beneficiary not found for id=9ddeab87-2602-4d89-8eac-678407498447
                        source:
                          pointer: /beneficiaries/1/id
      security:
        - OAuth:
            - payment.write
        - SecretKey: []
  /v2/attachments:
    post:
      tags:
        - Attachments
      summary: Upload attachment
      description: |-
        OAuth scope: `attachment.write`

        ---

        Upload an attachment

        ---

        This endpoint allows you to upload an attachment to be then linked to an external transfer. Valid files are: JPEG, PNG and PDFs. The endpoint is particularly useful when you want to link an attachment to an external transfer via [POST /v2/external_transfers](https://api-doc.qonto.com/docs/business-api/b3A6MjM2NDE0OTk-create-an-external-transfer) and [POST /v2/external_transfers/checkout](https://api-doc.qonto.com/docs/business-api/b3A6MzAxODAwMDI-create-external-transfers-with-creditor-data).

        Inside Qonto, attachments are files uploaded onto transactions by users. Attachments typically correspond to the *invoice* or *receipt*, and are used to justify the transactions from a bookkeeping standpoint.
      parameters:
        - name: X-Qonto-Idempotency-Key
          in: header
          description: The API supports idempotency for safely retrying requests without accidentally performing the same operation twice.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 4668aec5-4e9c-4a41-b6d1-fc3c13c70dd5
      requestBody:
        description: |-
          OAuth scope: `payment.write`

          ---

          You have to specify multipart form data in order to attach the file to the request. When using `curl` it will look like that:

          ```
          curl --request POST \
            --url https://thirdparty.qonto.com/v2/attachments \
            -H "Content-Type: multipart/form-data" \
            -H "Authorization: {Auth}" \
            -F file="@path/to/a/file.jpg"
          ```
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            examples:
              example:
                value:
                  file: <% multipart/form-data file data %>
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
            example:
              file: foobar.png
      responses:
        '200':
          description: returns an attachment ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  attachment:
                    type: object
                    properties:
                      id:
                        type: string
              example:
                attachment:
                  id: 71c32755-d0c3-4d82-9a78-774caa9d8556
        '400':
          description: returns a bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
              examples:
                when file is too big: {}
                when file is not the correct type: {}
        '403':
          description: returns a forbidden error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
              example:
                errors:
                  - code: forbidden
                    detail: User does not have sufficient permissions for this action.
      security:
        - OAuth:
            - attachment.write
        - SecretKey: []
  /v2/attachments/{id}:
    get:
      tags:
        - Attachments
      summary: Show attachment
      description: |
        OAuth scope: `organization.read`

        ---

        Obtain the details (e.g: download URL) for a specific attachment.

        ---

        Inside Qonto, attachments are files uploaded onto transactions by users. Attachments typically correspond to the *invoice* or *receipt*, and are used to justify the transactions from a bookkeeping standpoint.

        You can retrieve the IDs of those attachments inside each Transaction object, by calling [List transactions](/reference/openapi_v2.yml/paths/~1v2~1transactions/get).

        Probative attachment is another version of attachment, compliant with [PAdES](https://en.wikipedia.org/wiki/PAdES) standard.

        **Important**: for security reasons, the `url` you retrieve for each Attachment is only valid for 30 minutes. If you need to download the file after more than 30 minutes, you will need to perform another authenticated call in order to generate a new download URL.
      operationId: get_attachment
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: e72f6e43-0f27-4415-8781-ad648a89b47f
      responses:
        '200':
          description: returns an attachment
          content:
            application/json:
              schema:
                type: object
                properties:
                  attachment:
                    type: object
                    properties:
                      id:
                        type: string
                      created_at:
                        type: string
                      file_name:
                        type: string
                      file_size:
                        type: string
                      file_content_type:
                        type: string
                      url:
                        type: string
                      probative_attachment:
                        type: object
                        properties:
                          status:
                            type: string
                          file_name:
                            type: string
                          file_content_type:
                            type: string
                          file_size:
                            type: string
                          url:
                            type: string
              example:
                attachment:
                  id: 71c32755-d0c3-4d82-9a78-774caa9d8556
                  created_at: '2021-03-23T14:21:51.000Z'
                  file_name: Foobar
                  file_size: '666'
                  file_content_type: image/png
                  url: https://my-s3.url.qonto.bucket.com/123456789
                  probative_attachment:
                    status: unavailable
                    file_name: statement.pdf
                    file_content_type: application/pdf
                    file_size: '666'
                    url: https://my-s3.url.qonto.bucket.com/123456789
        '401':
          description: returns an unauthorized error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
              example:
                errors:
                  - code: unauthorized
                    detail: You must be authenticated to perform this action
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
    parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
  /v2/labels:
    get:
      tags:
        - Labels
      summary: List labels
      description: |
        OAuth scope: `organization.read`

        ---

        Retrieve all labels within the organization.

        ---

        The response contains the list of labels that are linked to the authenticated company.

        The `id` field uniquely identifies the label and is used to identify the **label_ids** of a transaction (see [List transactions](/reference/openapi_v2.yml/paths/~1v2~1transactions/get))

        ### Parent

        A label can be linked to another in order to create lists.
        The parent label can be identified thanks to the `parent_id` field.
      operationId: get_labels
      responses:
        '200':
          description: list labels for a given organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        parent_id:
                          nullable: true
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      next_page:
                        nullable: true
                      prev_page:
                        nullable: true
                      total_pages:
                        type: integer
                      total_count:
                        type: integer
                      per_page:
                        type: integer
              example:
                labels:
                  - id: 171dba70-c75f-4337-b419-377a59bc9cf3
                    name: Fantastic Marble Wallet
                    parent_id: null
                  - id: 2487a014-618f-40e3-8a1f-eb76e883efc5
                    name: Fantastic Bronze Computer
                    parent_id: 171dba70-c75f-4337-b419-377a59bc9cf3
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 2
                  per_page: 100
  /v2/labels/{id}:
    get:
      tags:
        - Labels
      summary: Show label
      description: |
        OAuth scope: `organization.read`

        ---

        Retrieve all labels within the organization.

        ---

        The response contains the list of labels that are linked to the authenticated company.

        The `id` field uniquely identifies the label and is used to identify the **label_ids** of a transaction (see [List transactions](/reference/openapi_v2.yml/paths/~1v2~1transactions/get))

        ### Parent

        A label can be linked to another in order to create lists.
        The parent label can be identified thanks to the `parent_id` field.
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: 2d9663fd-1748-4ed4-a590-48066ae9e1cb
      responses:
        '200':
          description: returns a label
          content:
            application/json:
              schema:
                type: object
                properties:
                  label:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      parent_id:
                        type: string
              example:
                label:
                  id: 2d9663fd-1748-4ed4-a590-48066ae9e1cb
                  name: Lightweight Granite Pants
                  parent_id: 053b8439-56a6-48ac-9fad-7b2973a53ae3
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
  /v2/memberships:
    get:
      tags:
        - Memberships
      summary: List memberships
      description: |
        OAuth scope: `organization.read`

        ---

        Retrieve all memberships within the organization.

        ---

        The response contains the list of memberships that are linked to the authenticated company.
        A member is a user who's been granted access to the Qonto account of a company. There is no limit currently to the number of memberships a company can have.

        The response contains the following attributes:
          - `id` - The membership's id. It uniquely identifies the membership
          - `first_name` - The first name of the membership
          - `last_name` - The last name of the membership
          - `role` - Role of the membership: `owner`, `admin`, `manager`, `reporting`, `employee`

        For Spain companies, the list also contains data about the UBOs (Ultimate Beneficiary Owner) of the company in addition to the fields above:
          - `residence_country` - Residential country of the member
          - `birthdate` - Date of birth of the member
          - `nationality` - The nationality of the member
          - `ubo` - The possession of the member: `true`, `false`
          - `birth_country` - The birth country of the member
      operationId: ''
      responses:
        '200':
          description: list memberships for a given organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          example: c9f9f051-7558-451c-b310-f4b8521424aa
                        first_name:
                          type: string
                          example: Quinn Jast
                        last_name:
                          type: string
                          example: Miss Stan Altenwerth
                        role:
                          type: string
                          example: owner
                          enum:
                            - owner
                            - admin
                            - manager
                            - reporting
                            - employee
                        residence_country:
                          type: string
                          nullable: true
                          example: FR
                        birthdate:
                          type: string
                          format: date
                          nullable: true
                          example: '2022-11-27'
                        nationality:
                          type: string
                          nullable: true
                          example: FR
                        ubo:
                          type: boolean
                          nullable: true
                        birth_country:
                          type: string
                          nullable: true
                          example: IT
                  meta:
                    $ref: '#/components/schemas/Pagination'
              example:
                memberships:
                  - id: c9f9f051-7558-451c-b310-f4b8521424aa
                    first_name: Quinn Jast
                    last_name: Miss Stan Altenwerth
                    role: owner
                    residence_country: FR
                    birthdate: '1987-07-12'
                    nationality: FR
                    ubo: true
                    birth_country: IT
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 1
                  per_page: 100
        '401':
          description: returns an unauthorized error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: unauthorized
                        detail:
                          type: string
                          example: Invalid credentials
        '403':
          description: returns a forbidden error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: forbidden
                        detail:
                          type: string
                          example: Forbidden
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
  /v2/membership:
    get:
      tags:
        - Memberships
      summary: Get details of a single membership
      description: |-
        OAuth scope: `membership.read`

        ---

        Retrieve the details of the authenticated Membership.

        ---

        The response contains the following attributes:

        - `id` - The membership's id
        - `first_name` - The first name of the membership
        - `last_name` - The last name of the membership
        - `email` - The email address of the membership
        - `phone_number` - The phone number of the membership
        - `position` - The professional position of the membership within the company (e.g.: CEO, financial manager)
        - `status` - Status of the membership (e.g: active)
        - `role` - The set of permissions of the membership within the organization's account (e.g.: owner, admin).
        - `locale` - The language chosen by the membership
        - `team_id` - The team's id that the membership belongs to
      operationId: ''
      responses:
        '200':
          description: returns a membership. The membership returned is determined from the secret-key or OAuth2 token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  membership:
                    type: object
                    properties:
                      id:
                        type: string
                        readOnly: true
                        example: c9f9f051-7558-451c-b310-f4b8521424aa
                      first_name:
                        type: string
                        readOnly: true
                        example: Bruce Thomas Patrick
                      last_name:
                        type: string
                        readOnly: true
                        example: Wayne
                      email:
                        type: string
                        readOnly: true
                        example: batman@dc-comics.com
                      phone_number:
                        type: string
                        readOnly: true
                        example: '+49123456789'
                      position:
                        type: string
                        readOnly: true
                        example: Criminals threatener
                      status:
                        type: string
                        readOnly: true
                        example: active
                      role:
                        type: string
                        example: owner
                      locale:
                        type: string
                        example: de
                      team_id:
                        type: string
                        example: d1f9f066-5642-462d-b421-a7d8521556bc
                    additionalProperties: false
              example:
                membership:
                  id: c9f9f051-7558-451c-b310-f4b8521424aa
                  first_name: Bruce Thomas Patrick
                  last_name: Wayne
                  email: batman@dc-comics.com
                  phone_number: '+49123456789'
                  position: Criminals threatener
                  status: active
                  role: owner
                  locale: de
                  team_id: d1f9f066-5642-462d-b421-a7d8521556bc
        '401':
          description: returns an unauthorized error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
              example:
                errors:
                  - code: unauthorized
                    detail: You must be authenticated to perform this action
        '403':
          description: returns a forbidden error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
              example:
                errors:
                  - code: forbidden
                    detail: User does not have sufficient permissions for this action.
      security:
        - OAuth:
            - membership.read
  /v2/memberships/invite_employee_or_accountant:
    post:
      tags:
        - Memberships
      summary: Create and invite a new membership
      description: |-
        OAuth scope: `membership.write`

        ---

        Create a new membership and invite it to the authenticated organization. This endpoint allows to create a new member and invite them into the organization into a team which is defined in the request. Once the endpoint is called correctly, the new member is created and the user receives an invitation email. In this email, the user will receive instructions on how to activate the membership and join the authenticated organization’s Qonto account.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - membership
              type: object
              properties:
                membership:
                  type: object
                  properties:
                    email:
                      type: string
                      description: email of the person being invited to join the organization
                      format: email
                      example: client@qonto.com
                    first_name:
                      type: string
                      description: first name of the person being invited to join the organization
                      example: Bruce Thomas Patrick
                    last_name:
                      type: string
                      description: last name of the person being invited to join the organization
                      example: Wayne
                    role:
                      type: string
                      description: role of the person being invited to join the organization
                      example: employee
                      enum:
                        - reporting
                        - employee
                    team_id:
                      type: string
                      description: unique identifier of the team the new membership is being assigned
                      format: uuid
      responses:
        '200':
          description: returns a created membership
          content:
            application/json:
              schema:
                type: object
                properties:
                  membership:
                    type: object
                    properties:
                      id:
                        type: string
                        description: the membership's id
                        format: uuid
                      first_name:
                        type: string
                        description: the first name of the membership being invited to join the organization
                        example: Bruce Thomas Patrick
                      last_name:
                        type: string
                        description: the last name of the membership being invited to join the organization
                        example: Wayne
                      email:
                        type: string
                        description: the email address of the membership being invited to join the organization
                        example: client@qonto.com
                      role:
                        type: string
                        description: the set of permissions of the membership within the organization's account
                        example: employee
                        enum:
                          - reporting
                          - employee
                      locale:
                        type: string
                        description: the language chosen by the membership being invited to join the organization
                      team_id:
                        type: string
                        description: the team id to which the membership has been assigned
                        format: uuid
        '401':
          description: returns an unauthorized error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: unauthorized
                        detail:
                          type: string
                          example: Invalid credentials
        '403':
          description: returns a forbidden error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: forbidden
                        detail:
                          type: string
                          example: Forbidden
        '422':
          description: returns an unprocessable entity error
          content:
            application/json:
              schema:
                required:
                  - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                        - code
                      type: object
                      properties:
                        code:
                          type: string
                          example: blank
                        detail:
                          type: string
                          example: first_name must be filled
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                              example: /first_name
      security:
        - OAuth:
            - membership.write
  /v2/organizations/{id}:
    get:
      tags:
        - Organizations
      summary: Show organization
      description: |
        OAuth scope: `organization.read`

        ---

        Retrieve the list and details of a company's bank accounts.

        ---

        The response contains the list of bank accounts of the authenticated company.

        The `balance` represents the actual amount of money on the account, in Euros. The `authorized_balance` represents the amount available for payments, taking into account transactions that are being processed. [More information here](https://support.qonto.com/hc/en-us/articles/115000493249-How-is-the-balance-of-my-account-calculated-)

        The bank account's `slug` and `iban` will be required for you to retrieve the list of transactions inside that bank account, using  [List transactions](/reference/openapi_v2.yml/paths/~1v2~1transactions/get).
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: super-organization-9798
      responses:
        '200':
          description: DEPRECATED. Please use [Get organization and its bank_accounts](https://api-doc.qonto.com/docs/business-api/b3A6ODQxOTQyNQ-get-organization-and-its-bank-accounts) instead.
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    type: object
                    properties:
                      slug:
                        type: string
                      legal_name:
                        nullable: true
                      bank_accounts:
                        type: array
                        items:
                          type: object
                          properties:
                            slug:
                              type: string
                            iban:
                              type: string
                            bic:
                              type: string
                            currency:
                              type: string
                            balance:
                              type: number
                              format: float
                            balance_cents:
                              type: integer
                            authorized_balance:
                              type: number
                              format: float
                            authorized_balance_cents:
                              type: integer
                            name:
                              type: string
                            updated_at:
                              type: string
                            status:
                              type: string
                              enum:
                                - active
                                - closed
              example:
                organization:
                  slug: super-organization-9798
                  legal_name: null
                  bank_accounts:
                    - slug: super-bankaccount-7150
                      iban: FR7616798000010000005663951
                      bic: TRZOFR21XXX
                      currency: EUR
                      balance: 100
                      balance_cents: 10000
                      authorized_balance: 100
                      authorized_balance_cents: 10000
                      updated_at: '2021-03-23T14:00:46.667Z'
                      status: active
        '401':
          description: returns an unauthorized error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
              example:
                errors:
                  - code: unauthorized
                    detail: You must be authenticated to perform this action
      deprecated: true
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
  /v2/organization:
    get:
      tags:
        - Organizations
      summary: Get organization and its bank_accounts
      description: |-
        OAuth scope: `organization.read`

        ---

        Retrieve organization's details including its list of bank accounts.

        ---

        The response contains the details and the list of bank accounts of the authenticated organization.

        The `balance` represents the actual amount of money on the account, in Euros. The `authorized_balance` represents the amount available for payments, taking into account transactions that are being processed. [More information here](https://support.qonto.com/hc/en-us/articles/115000493249-How-is-the-balance-of-my-account-calculated-)

        The bank account's `slug` and `iban` will be required for you to retrieve the list of transactions inside that bank account, using  [List transactions](/reference/openapi_v2.yml/paths/~1v2~1transactions/get).

        ##### Description of the fields

        - `id`: The unique organization's identifier
        - `slug`: The slug based on organization's legal name
        - `legal_name`: The organization's registered name
        - `legal_number`: The unique number of registration (e.g.: SIRET in France)
        - `legal_sector`: The code of the organization's activity sector
        - `legal_share_capital`: The informed share capital, expressed in euros
        - `legal_registration_date`: The date of incorporation of the organization
        - `legal_address`: The organization's address
        - `legal_form`: The legal formation of the organization
        - `legal_country`: The country of incorporation of the organization
        - `locale`: The default language set for the organization
        - `contract_signed_at`: The date and time, in UTC, the account was opened
        - `main`: *true* indicates that this bank account is used for billing. There is only one main account in a given organization.
      responses:
        '200':
          description: returns the organization and its bank accounts. The organization returned is determined from the secret-key or OAuth2 token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    type: object
                    properties:
                      slug:
                        type: string
                        example: elektro-tesla-gmbh-3066
                      legal_name:
                        type: string
                        nullable: true
                        example: Elektro Tesla GmbH
                      legal_number:
                        type: string
                        example: 12A34FC5
                      legal_sector:
                        type: string
                        example: 6200Z
                      legal_registration_date:
                        type: string
                        format: date
                        nullable: true
                        example: '2022-11-27'
                      legal_address:
                        type: string
                        example: Fritz-Arnold-Str. 18 85614 Kirchseeon GERMANY
                      legal_form:
                        type: string
                        example: GmbH
                      legal_country:
                        type: string
                        example: DE
                      legal_share_capital:
                        type: number
                        example: 1000
                      locale:
                        type: string
                        example: de
                      contract_signed_at:
                        type: string
                        format: date-time
                      bank_accounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            slug:
                              type: string
                            iban:
                              type: string
                            bic:
                              type: string
                            currency:
                              type: string
                            balance:
                              type: number
                              format: float
                            balance_cents:
                              type: integer
                            authorized_balance:
                              type: number
                              format: float
                            authorized_balance_cents:
                              type: integer
                            name:
                              type: string
                            updated_at:
                              type: string
                            status:
                              type: string
                              enum:
                                - active
                                - closed
                            main:
                              type: boolean
              example:
                organization:
                  id: cb47875a-9b12-416e-aa9a-265b9dfaeee7
                  slug: elektro-tesla-gmbh-3066
                  legal_name: Elektro Tesla GmbH
                  legal_number: 12A34FC5
                  legal_sector: 6200Z
                  legal_registration_date: '2022-11-27'
                  legal_address: Fritz-Arnold-Str. 18 85614 Kirchseeon GERMANY
                  legal_form: GmbH
                  legal_country: DE
                  legal_share_capital: 1000
                  locale: de
                  contract_signed_at: '2022-12-01 08:57:00.123047'
                  bank_accounts:
                    - slug: super-bankaccount-5785
                      iban: FR7616798000010000005663951
                      bic: TRZOFR21XXX
                      currency: EUR
                      balance: 100
                      balance_cents: 10000
                      authorized_balance: 100
                      authorized_balance_cents: 10000
                      name: Main account
                      updated_at: '2021-03-23T14:00:46.967Z'
                      status: active
                      main: true
        '401':
          description: returns an unauthorized error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
              example:
                errors:
                  - code: unauthorized
                    detail: You must be authenticated to perform this action
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
  /v2/transactions/{id}/attachments:
    get:
      tags:
        - Attachments in Transactions
      summary: List attachments in a transaction
      operationId: list_transaction_attachments
      description: |
        OAuth scope: `organization.read`

        ---

        Retrieve the list of attachments within a transaction.

        ---

        Inside Qonto, attachments are files uploaded onto transactions by users. Attachments typically correspond to the *invoice* or *receipt*, and are used to justify the transactions from a bookkeeping standpoint.

        Probative attachment is another version of attachment, compliant with [PAdES](https://en.wikipedia.org/wiki/PAdES) standard.

        **Important**: for security reasons, the `url` you retrieve for each Attachment is only valid for 30 minutes. If you need to download the file after more than 30 minutes, you will need to perform another authenticated call in order to generate a new download URL.
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: aab86d8a-0d4c-4749-9a49-0ada88a9c423
      responses:
        '200':
          description: returns a list of attachments
          content:
            application/json:
              schema:
                type: object
                properties:
                  attachments:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        created_at:
                          type: string
                        file_name:
                          type: string
                        file_size:
                          type: string
                        file_content_type:
                          type: string
                        url:
                          type: string
                        probative_attachment:
                          type: object
                          properties:
                            status:
                              type: string
                            file_name:
                              type: string
                            file_content_type:
                              type: string
                            file_size:
                              type: string
                            url:
                              type: string
                      nullable: true
              example:
                attachments:
                  - id: 9b048e2c-d546-415b-b001-d31a6d4ae1e3
                    created_at: '2021-01-27T22:05:07.000Z'
                    file_name: Foobar
                    file_size: '666'
                    file_content_type: image/png
                    url: https://my-s3.url.qonto.bucket.com/123456789
                    probative_attachment:
                      status: available
                      file_name: statement.pdf
                      file_content_type: application/pdf
                      file_size: '123'
                      url: https://my-s3.url.qonto.bucket.com/123456789
        '401':
          description: returns an unauthorized error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
              example:
                errors:
                  - code: unauthorized
                    detail: You must be authenticated to perform this action
        '404':
          description: returns a not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            parameter:
                              type: string
              example:
                errors:
                  - code: not_found
                    detail: Transaction not found
                    source:
                      parameter: id
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
    post:
      tags:
        - Attachments in Transactions
      summary: Upload attachment to a transaction
      description: |-
        OAuth scope: `attachment.write`

        ---

        Upload an attachment to a transaction

        ---

        This endpoint allows you to upload an attachment to a transaction.

        Inside Qonto, attachments are files uploaded onto transactions by users. Attachments typically correspond to the *invoice* or *receipt*, and are used to justify the transactions from a bookkeeping standpoint.

        Probative attachment is another version of attachment, compliant with [PAdES](https://en.wikipedia.org/wiki/PAdES) standard.

        **Important**: for security reasons, the `url` you retrieve for each Attachment is only valid for 30 minutes. If you need to download the file after more than 30 minutes, you will need to perform another authenticated call in order to generate a new download URL.


        <!-- theme: info -->
        > The uploaded file will be processed in the background. This means that the created attachment will not be visible immediately.
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 2751a41c-c17f-43f7-bd18-04efa6cd8e30
        - name: X-Qonto-Idempotency-Key
          in: header
          description: The API supports idempotency for safely retrying requests without accidentally performing the same operation twice.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 4668aec5-4e9c-4a41-b6d1-fc3c13c70dd5
      requestBody:
        description: |-
          You have to specify multipart form data in order to attach the file to the request. When using `curl` it will look like that:

          ```
          curl --request POST \
            --url https://thirdparty.qonto.com/v2/transactions/{id}/attachments \
            -H "Content-Type: multipart/form-data" \
            -H "Authorization: {Auth}" \
            -F file="@path/to/a/file.jpg"
          ```
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            examples:
              example:
                value:
                  file: <% multipart/form-data file data %>
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
            example:
              file: foobar.png
      responses:
        '200':
          description: accepts the file and returns a success status code
        '400':
          description: returns a bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
[...]
